= image_tag @doctor.image.url(:medium)
%h1= @doctor.officename
%p= @doctor.description
%p
Submitted by
= @doctor.user.email
%br/
= link_to "Back", root_path
= link_to "Edit", edit_doctor_path
= link_to "Delete", doctor_path, method: :delete, data: {confirm: "Are you sure?"}